body{
  margin: 0;
  h2{
    text-align:center;
  }
  form {
    display:flex;
    flex-direction: column;
    max-width: 420px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 0 auto;
    input{
      padding:5px 5px;
      border-radius: 5px;
      margin: 7px 0px;
    }
    .contact-wrap, .pas-wrap{
      display:flex;
      justify-content: space-between;
    }
    .main-info{
      display:flex;
      justify-content: space-between;
    }
    .person-data{
      width:200px;
      display:flex;
      flex-direction: column;
    }
  }
}
.avatar {
  width:170px;
  height:170px;
  border: 2px solid black;
  border-radius:85px;
  cursor:pointer;
  &:hover{
    border-color: blue;
  }
  .plus{
    background: white;
    height: 50px; 
    width: 10px;
    border-radius: 5px;  
    position: relative; 
    left: 48%;
    top: 34%;
    &::after{
      content: "";
      height: 10px; 
      width: 50px;
      background: white;
      border-radius: 5px;  
      position: absolute; 
      left: -20px; 
      top: 43%;
    }
  }
input{
  display:none;
}
}